{
  "openapi": "3.0.3",
  "info": {
    "title": "3D Store API",
    "description": "3D Store platformu için model, metadata ve eklenti indirme/okuma API belgeleri.",
    "version": "1.0.0",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://raspberry.dagsolution.com/3d-store/api",
      "description": "Production Server"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Panelden aldığınız API anahtarını buraya girin (Örn: 3d_...)"
      }
    }
  },
  "paths": {
    "/v1/models": {
      "get": {
        "summary": "Tüm Modelleri Listele",
        "description": "API anahtarına veya işletmeye bağlı yayınlanmış tüm 3D modelleri sayfalı olarak listeler.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Sayfa numarası"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Sayfa başına kayıt sayısı"
          }
        ],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/models/{slug}/glb": {
      "get": {
        "summary": "Modeli GLB Formatında İndir",
        "description": "Belirtilen slug değerine sahip modelin ana GLB (3D) dosyasını indirir.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Modelin benzersiz (slug) adı"
          }
        ],
        "responses": {
          "302": {
            "description": "Geçici Yönlendirme (Found) - Tarayıcı veya istemciniz otomatik olarak MinIO Presigned URL adresine yönlendirilecektir. Eğer Axios veya Fetch kullanıyorsanız yönlendirmeyi takip ettiğinizden emin olun.",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "format": "uri"
                },
                "description": "Presigned (İmzalı) MinIO indirme URL'si"
              }
            }
          },
          "404": {
            "description": "Model veya GLB dosyası bulunamadı"
          }
        }
      }
    },
    "/v1/models/{slug}/metadata.json": {
      "get": {
        "summary": "Model Metadatasını Oku",
        "description": "Modele ait özellikleri (metadata.json) döndürür. Bu uç nokta herkesin okumasına AÇIKTIR, API Key zorunlu değildir.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Modelin benzersiz (slug) adı"
          }
        ],
        "responses": {
          "302": {
            "description": "Geçici Yönlendirme (Found) - Dosya akışı yerine MinIO Presigned URL'sine yönlendirilir.",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "format": "uri"
                },
                "description": "Presigned (İmzalı) MinIO JSON URL'si"
              }
            }
          },
          "404": {
            "description": "Metadata dosyası bulunamadı"
          }
        },
        "security": []
      }
    },
    "/v1/models/{slug}/attachments.zip": {
      "get": {
        "summary": "Ek Dosyaları (Attachments) İndir",
        "description": "Modele eklenmiş olan yardımcı materyalleri (attachments.zip) indirir.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Modelin benzersiz (slug) adı"
          }
        ],
        "responses": {
          "302": {
            "description": "Geçici Yönlendirme (Found) - Ek dosya ZIP arşivi için MinIO Presigned URL'sine yönlendirilir.",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "format": "uri"
                },
                "description": "Presigned (İmzalı) MinIO indirme URL'si"
              }
            }
          },
          "404": {
            "description": "Ek dosya bulunamadı"
          }
        }
      }
    },
    "/v1/images/{id}/file": {
      "get": {
        "summary": "Model Önizleme Resmini İndir",
        "description": "Models listesinden dönen image ID'sini kullanarak resmi çeker.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resmin benzersiz UUID değeri"
          }
        ],
        "responses": {
          "200": {
            "description": "Resme ait MinIO Presigned URL'sini içeren JSON nesnesi",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resim bulunamadı"
          }
        }
      }
    },
    "/v1/models/upload-zip": {
      "post": {
        "summary": "ZIP Paketi ile Model Yükle",
        "description": "Birden fazla dosya içeren hazır model paketini (.zip) API üzerinden yükler.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Zorunlu .zip formatındaki paket dosyası."
                  },
                  "publish": {
                    "type": "boolean",
                    "description": "Modelin yüklendikten hemen sonra herkese açık (yayında) olmasını belirler. Varsayılan olarak false."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Başarılı model yükleme"
          },
          "400": {
            "description": "Hatalı dosya formatı veya içerik"
          },
          "401": {
            "description": "Yetkisiz erişim"
          }
        }
      }
    },
    "/v1/models/upload": {
      "post": {
        "summary": "Ayrı Dosyalar ile Model Yükle",
        "description": "GLB model dosyasını ve kapak resmini (ayrı dosyalar halinde) yükleyerek model oluşturur.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Zorunlu .glb veya 3D model dosyası."
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Zorunlu önizleme (kapak) resmi."
                  },
                  "name": {
                    "type": "string",
                    "description": "Opsiyonel model adı"
                  },
                  "description": {
                    "type": "string",
                    "description": "Opsiyonel açıklama"
                  },
                  "publish": {
                    "type": "boolean",
                    "description": "Modelin yüklendikten hemen sonra herkese açık (yayında) olmasını belirler. Varsayılan olarak false."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Başarılı model yükleme"
          },
          "400": {
            "description": "Eksik dosya"
          },
          "401": {
            "description": "Yetkisiz erişim"
          }
        }
      }
    },
    "/v1/models/{slug}": {
      "delete": {
        "summary": "Modeli Sil",
        "description": "Belirtilen slug değerine sahip modeli sistemden tamamen siler.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Silinecek modelin benzersiz slug değeri"
          }
        ],
        "responses": {
          "200": {
            "description": "Model başarıyla silindi",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "number",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Model başarıyla silindi"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Yetkisiz erişim"
          },
          "403": {
            "description": "Bu modeli silme yetkiniz yok"
          },
          "404": {
            "description": "Model bulunamadı"
          }
        }
      }
    },
    "/v1/analytics": {
      "get": {
        "summary": "Analitik Verilerini Çek",
        "description": "API kullanım loglarını sayfalayarak getirir.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "default": 1
            },
            "description": "Sayfa numarası"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "default": 10
            },
            "description": "Sayfa başına kayıt sayısı"
          }
        ],
        "responses": {
          "200": {
            "description": "Analitik logları listesi",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "total": {
                      "type": "number"
                    },
                    "page": {
                      "type": "number"
                    },
                    "limit": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Yetkisiz erişim"
          }
        }
      }
    }
  }
}